@using PagedList.Mvc;
@using PagedList;
@model IPagedList<QLDeTai.Models.EF.DeTai>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    h2 {
        text-align: center;
    }
</style>

<h2>Đề tài nghiên cứu khoa học</h2>



<div class="table-responsive text-nowrap">
    <table class="table table-bordered">
        <thead class="table-light">
            <tr>
                <th>Mã đề tài</th>
                <th>Tên đề tài</th>
                <th>Năm học</th>
                <th>Ngày đăng ký</th>
                <th>Trạng thái</th>
                <th>Chức năng</th>
            </tr>
        </thead>
        <tbody class="table-border-bottom-0">
            @foreach (var item in Model)
            {
                <tr id="trow_@item.Id">
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td style="white-space: normal;">
                        @Html.DisplayFor(modelItem => item.TenDeTai)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NamHoc)
                    </td>
                    <td>
                        @item.NgayDK.ToShortDateString()
                    </td>
                    <td>
                        <span class="badge bg-label-primary me-1"> @Html.DisplayFor(modelItem => item.TrangThai.TenTrangThai)</span>
                    </td>

                    <td>
                        <a type="button" class="btn rounded-pill btn-outline-success" href="@Url.Action("Details", "QLDeTais", new { id = item.Id } )">Chi tiết</a>
                        <a type="button" class="btn rounded-pill btn-outline-warning" href="@Url.Action("Edit", "QLDeTais", new { id = item.Id } )">Cập nhật</a>
                        <a  href="# "type="button" class="btn rounded-pill btn-outline-danger btnDelete" data-id="@item.Id">Xóa</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
<div class="row">
    <div class="col">

        <div class="demo-inline-spacing">
            <!-- Basic Pagination -->
            <nav aria-label="Page navigation">
                <ul class="pagination">

                    <li class="page-item @((Model.PageNumber == 1) ? "disabled" : "")">
                        <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber - 1, pagesize = 5 })"><i class="tf-icon bx bx-chevron-left"></i></a>
                    </li>
                    @for (int i = 1; i <= Model.PageCount; i++)
                    {
                        <li class="page-item @(Model.PageNumber == i ? "active" : "")">
                            <a class="page-link" href="@Url.Action("Index", new { page = i, pagesize = 5 })">@i</a>
                        </li>
                    }
                    <li class="page-item @((Model.PageNumber == Model.PageCount) ? "disabled" : "")">
                        <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber + 1, pagesize = 5 })"><i class="tf-icon bx bx-chevron-right"></i></a>
                    </li>

                </ul>
            </nav>
            <!--/ Basic Pagination -->
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $('body').on('click', '.btnDelete', function () {
            var id = $(this).data("id");
            var cof = confirm('Bạn có muốn xóa đề tài này không?');
            if (cof === true) {
                $.ajax({
                    url: '/QLDeTais/Delete',
                    type: 'POST',
                    data: { id: id },
                    success: function (rs) {
                        if (rs.success) {
                            $('#trow_' + id).remove();
                        }
                    }
                });
            }
        });
    });
</script>
